*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Courier New", Courier, monospace;
  font-weight: bold;
}
html {
  font-size: 16px;
}
li {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #000;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .slide {
  display: flex;
  transition: 1s;
}
.container .slide li {
  min-width: 75rem;
  min-height: 43.75rem;
  border-radius: 0.9375rem;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 1s;
}
.container .slide li.ativo {
  opacity: 1;
  transform: scale(1);
}
.container .menuSlide {
  display: flex;
  justify-content: center;
}
.container .menuSlide a {
  cursor: pointer;
  margin: 30px 10px;
  border-radius: 50%;
  min-width: 3.125rem;
  min-height: 3.125rem;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 1s;
}
.container .menuSlide a.ativo {
  opacity: 1;
  transform: scale(1);
}
.container .yellow {
  background: yellow;
}
.container .gold {
  background: gold;
}
.container .orange {
  background: orange;
}
.container .orangered {
  background: orangered;
}
.container .red {
  background: red;
}
.autor {
  margin-top: 2rem;
  font-weight: bold;
}
.autor p {
  font-size: 1.4375rem;
  color: #777;
}
.autor p span {
  font-size: 1.6875rem;
  text-decoration: underline;
  color: #777;
}
